/**
这里书写需要覆盖框架组件的样式
注意:需要添加!important不然不能覆盖
例如:
我要修改 button的背景颜色
.ant-btn-primary{background-color:red !important;}
*/

.ant-card-head-title {
  border-left: 6px solid #1b65b9 !important;
  font-size: 16px !important;
  padding-left: 4px !important;
  font-weight: bolder !important;
}

.ant-form-item-info {
  min-height: 12px !important;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 12px 12px !important;
  word-break: break-word;
  -ms-word-break: break-all;
}
.ant-input {
  height: 28px !important;
  font-size: 13px !important;
}
.ant-form label {
  font-size: 13.2px !important;
  line-height: 28px !important;
}
.ant-select {
  font-size: 13px !important;
  top: 6% !important;
}
.ant-select-selection--single {
  height: 28px !important;
}
.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  top: 45% !important;
}
.ant-select-selection-selected-value {
  line-height: 27px !important;
}

.ta-tag-select .tag-select-btn-sm {
  line-height: 21px !important;
}
.ant-btn > .anticon + span,
.ant-btn > span + .anticon {
  margin-left: 5px !important;
}
.ant-table {
  font-size: 13.5px !important;
}
.ant-btn-sm {
  font-size: 13.2px !important;
}
.ant-input-number {
  height: 28px !important;
  font-size: 13.5px !important;
}
.ant-input-number-input {
  height: 28px !important;
}
.ant-btn-default{
  font-size: 13.2px !important;
  padding: 0 8px !important;
  height: 28px !important;
}
.ant-btn-primary {
  font-size: 13.2px !important;
  height: 28px !important;
  padding: 0 7px !important;
}
.ant-form-explain,
.ant-form-extra {
  font-size: 1px !important;
  line-height: 12px !important;
}
.ant-btn-background-ghost{
  height: 22px !important;
}
.tag-select-btn-sm{
  height: 24px !important;
}
