<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhai.bysj.basicdata.mapper.read.basicInfoReadMapper">
    <resultMap type="com.yinhai.bysj.basicdata.entity.Wl" id="WlMap">
        <result property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="standard" column="STANDARD" jdbcType="VARCHAR"/>
        <result property="type" column="TYPE" jdbcType="VARCHAR"/>
        <result property="unit" column="UNIT" jdbcType="VARCHAR"/>
        <result property="gysid" column="GYSID" jdbcType="VARCHAR"/>
        <result property="pricedate" column="PRICEDATE" jdbcType="DATE"/>
        <result property="price" column="PRICE" jdbcType="DOUBLE"/>
        <result property="bomdate" column="BOMDATE" jdbcType="DATE"/>
        <result property="isputbom" column="ISPUTBOM" jdbcType="VARCHAR"/>
        <result property="isputprice" column="ISPUTPRICE" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultType="com.yinhai.bysj.basicdata.vo.WlInfoVo">
        select ID       as id,
               NAME     as name,
               STANDARD as standard,
               TYPE     as type,
               UNIT     as unit,
               GYSID    as gysid
        from WL
        where ID = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryList" resultType="com.yinhai.bysj.basicdata.vo.WlInfoVo">
        select w.ID       as id,
               w.NAME     as name,
               w.STANDARD as standard,
               w.TYPE     as type,
               w.UNIT     as unit,
               g.GYS      as gys,
               w.ISPUTBOM as isputbom
        from WL w,
             GYS g
        <where>
            w.GYSID = g.GYSID
            <if test="id != null and id != ''">
                and w.ID = #{id}
            </if>

            <if test="name != null and name != ''">
                and w.NAME = #{name}
            </if>

            <if test="standard != null and standard != ''">
                and w.STANDARD = #{standard}
            </if>

            <if test="type != null and type != ''">
                and w.TYPE = #{type}
            </if>

            <if test="unit != null and unit != ''">
                and w.UNIT = #{unit}
            </if>

            <if test="gysid != null and gysid != ''">
                and w.GYSID = #{gysid}
            </if>
            <if test="isputprice != null and isputprice != ''">
                and w.ISPUTPRICE = #{isputprice}
            </if>
            <if test="isputbom != null and isputbom != ''">
                and w.ISPUTBOM = #{isputbom}
            </if>
        </where>
    </select>

    <select id="queryLast" resultType="com.yinhai.bysj.basicdata.vo.WlInfoVo">
        select *
        from (select * from WL order by ID desc)
        where rownum = 1
    </select>

    <select id="queryMainList" resultType="com.yinhai.bysj.basicdata.vo.WlInfoVo">
        select ID       as id,
               NAME     as name,
               TYPE     as type,
               UNIT     as unit,
               ISPUTBOM as isputbom,
               BOMDATE  as bomdate
        from WL
        <where>
            (TYPE = '自制半成品' or TYPE = '产成品')

            <if test="id != null and id != ''">
                and ID = #{id}
            </if>

            <if test="name != null and name != ''">
                and NAME = #{name}
            </if>

            <if test="isputbom != null and isputbom != ''">
                and ISPUTBOM = #{isputbom}
            </if>
            <if test="type != null and type != ''">
                and TYPE = #{type}
            </if>
        </where>
    </select>

    <select id="queryRawList" resultType="com.yinhai.bysj.basicdata.vo.WlInfoVo">
        select ID        as id,
               NAME      as name,
               TYPE      as type,
               UNIT      as unit,
               PRICEDATE as pricedate,
               PRICE     as price
        from Wl
        <where>
            1 = 1
            <if test="id != null and id != ''">
                and ID = #{id}
            </if>
            <if test="name != null and name != ''">
                and NAME = #{name}
            </if>
            <if test="type != null and type != ''">
                and TYPE = #{type}
            </if>
            <if test="isputprice != null and isputprice != ''">
                and ISPUTPRICE = #{isputprice}
            </if>
        </where>
    </select>
</mapper>
