<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhai.bysj.consumptionstatistics.mapper.write.finishedProductWriteMapper">

    <!--新增所有列-->
    <insert id="insert" parameterType="com.yinhai.bysj.consumptionstatistics.vo.FinishedProductInfoVo">
        insert into FINISHED_PRODUCT(ID, NUM, INPUT_DATE, IS_COMPUTE, COMPUTE_DATE)
        values (#{id,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{inputDate,jdbcType=TIMESTAMP},
        #{isCompute,jdbcType=VARCHAR}, #{computeDate,jdbcType=TIMESTAMP})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="com.yinhai.bysj.consumptionstatistics.vo.FinishedProductInfoVo">
        update FINISHED_PRODUCT
        <set>
            <if test="id != null and id != ''">
                ID = #{id,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                NUM = #{num,jdbcType=INTEGER},
            </if>
            <if test="inputDate != null">
                INPUT_DATE = #{inputDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isCompute != null and isCompute != ''">
                IS_COMPUTE = #{isCompute,jdbcType=VARCHAR},
            </if>
            <if test="computeDate != null">
                COMPUTE_DATE = #{computeDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where INDE = #{inde}
    </update>

    <!--通过主键物理删除-->
    <delete id="deleteById">
        delete from FINISHED_PRODUCT where INDE = #{inde}
    </delete>

    <!--通过主键逻辑删除-->
    <delete id="updateToDestroyById">
        update FINISHED_PRODUCT
        set destory = '1'
        where INDE = #{inde}
    </delete>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" open="begin" close=";end;" separator=";">
            update FINISHED_PRODUCT f set f.IS_COMPUTE = #{item.isCompute},f.COMPUTE_DATE = #{item.computeDate} where f.INDE =#{item.inde}
        </foreach>
    </update>
</mapper>
